@media (prefers-color-scheme: light)
{
	:root
	{
		--background-body: #FFE;
		--background-nav: #EEE;
		--background-nav-heading: #888;
		--background-table: #FFF8CC;
		--background-table-heading: #FFD5D9;
		--color-body: #000;
		--color-link: #AAA560;
		--color-link-visited: #6060AA;
		--color-translation: #888;
		--color-list-number: #AAA;
		--color-math-error: #F66;
		--border-heading-separation-line: #888;
		--border-table: #EE858C;
		--border-figure: #888;
	}
}

@media (prefers-color-scheme: dark)
{
	:root
	{
		--background-body: #110;
		--background-nav: #222;
		--background-nav-heading: #666;
		--background-table: #2A2942;
		--background-table-heading: #4F2529;
		--color-body: #FFF;
		--color-link: #CCC580;
		--color-link-visited: #9090DD;
		--color-translation: #888;
		--color-list-number: #AAA;
		--color-math-error: #F66;
		--border-heading-separation-line: #AAA;
		--border-table: #EE858C;
		--border-figure: #888;
	}
}

body
{
	background-color: var(--background-body);
	color: var(--color-body);
	margin: 20px 15px;
}


a
{
	text-decoration-line: none;
}

a:link:not(nav>ol a)
{
	color: var(--color-link);
}

a:visited:not(nav>ol a)
{
	color: var(--color-link-visited);
}

mark
{
	font-family: "Consolas", "JetBrains Mono", "Courier New", monospace;
	font-size: 80%;
	background-color: inherit;
	color: var(--color-translation);
	font-style: italic;
	padding: 0 0.25em;
}


nav>p:not(#return)
{
	background-color: var(--background-nav-heading);
	color: var(--color-nav-heading);
	text-align: center;
	font-weight: bold;
	padding: 5px;
	margin: 0;
}

nav>p#return
{
	text-align: center;
}

nav>ol, nav>ol ol
{
	list-style: none;
	counter-reset: catalogue;
}

nav>ol
{
	margin: 0;
	padding: 5px 10px 10px 10px;
	background-color: var(--background-nav);
}

nav>ol ol
{
	padding-left: 0px;
}

nav>ol>li::before, nav>ol ol>li::before
{
	counter-increment: catalogue;
	content: counters(catalogue, ".") ".";
	font-family: "Cascadia Mono", "Consolas", "Courier New", monospace;
	font-size: small;
	color: var(--color-list-number);
}

nav>ol a
{
	color: var(--color-body);
}


main>:first-child
{
	margin-top: 0;
}

h3, h4, h5, h6
{
	margin-bottom: 0.5em;
}

h1
{
	margin: 0 0 20px 0;
}

h2
{
	font-size: 2em;
	padding-bottom: 0.3em;
	border-bottom: 2px solid var(--border-heading-separation-line);
}

h3
{
	font-size: 1.7em;
	padding-bottom: 0.3em;
	border-bottom: 1px solid var(--border-heading-separation-line);
}

h4
{
	font-size: 1.5em;
}

h5
{
	font-size: 1.3em;
}

h6
{
	font-size: 1em;
}

main hr
{
	margin: 2em 0;
	border: 1px solid var(--border-heading-separation-line);
}


main h2, main h3, main h4, main h5, main h6, main table, main .definition, main .example
{
	display: flow-root;
}

main dfn
{
	font-style: normal;
	font-weight: bold;
}


ol.tree, ol.tree ol
{
	list-style: none;
	counter-reset: tree;
}

ol.tree
{
	margin-top: 0px;
	padding: 5px 10px 5px 10px;
}

ol.tree ol
{
	padding-left: 0px;
}

ol.tree>li::before, ol.tree ol>li::before
{
	counter-increment: tree;
	content: counters(tree, ".") ".";
	font-family: "Cascadia Mono", "Consolas", "Courier New", monospace;
	font-size: small;
	color: var(--color-list-number);
}


table
{
	border-collapse: collapse;
}

table td, table th
{
	padding: 3px 8px 3px 8px;
	border: 1.2px solid var(--border-table);
}

table th
{
	font-weight: normal;
	background-color: var(--background-table-heading);
}

table td
{
	background-color: var(--background-table);
}


math:not([inline])
{
	display: block math;
	math-style: normal;
	margin: 2px 0;
}

merror
{
	border: none;
	background: unset;
	color: var(--color-math-error);
}


main div.figures
{
	float: right;
	clear: right;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;;
}

main figure
{
	display: grid;
	padding: 5px;
	margin: 5px;
	border: 1px solid var(--border-figure);
}

main figure>svg
{
	margin: 5px auto;
}

main figure>figcaption
{
	margin-top: 5px;
	font-size: x-small;
	text-align: center;
}


@media (max-width: 800px)
{
	h1
	{
		font-size: 3em;
	}

	h1>mark
	{
		display: block;
		padding: 5px 0 0 0;
	}
}

@media (min-width: 300px) and (max-width: 800px)
{
	nav
	{
		float: right;
		margin: 0 0 20px 15px;
	}
}


@media (min-width: 800px)
{
	body
	{
		display: grid;
		grid-template-columns: 20% 80%;
		grid-template-areas: 
			"heading heading"
			"nav main";
	}

	h1
	{
		grid-area: heading;
		font-size: 2em;
	}
	
	main
	{
		grid-area: main;
		margin: 0 0 0 15px;
	}

	nav
	{
		overflow-y: auto;
		grid-area: nav;
		height: calc(100vh - 30px);
		position: sticky;
		top: 15px;
	}
}